git+https://github.com/wdphy16/netket.git@mps_rnn_nk3.8

absl-py==2.1.0
beartype==0.18.5
cached-property==1.5.2
cffi==1.16.0
chex==0.1.6
contourpy==1.2.1
cycler==0.12.1
dm-tree==0.1.8
etils==1.7.0
flax==0.6.4
fonttools==4.53.0
h5py==3.9.0
igraph==0.10.8
importlib_resources==6.4.0
jax==0.3.25
jaxlib==0.3.25
jaxtyping==0.2.18
kiwisolver==1.4.5
llvmlite==0.40.1
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.0.8
numba==0.57.1
numba4jax==0.0.10.post3
numpy==1.24.4
opt-einsum==3.3.0
optax==0.1.7
orbax==0.1.2
orjson==3.10.3
packaging==24.0
pillow==10.3.0
plum-dispatch==2.4.1
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
rich==13.7.1
scipy==1.12.0
six==1.16.0
tensorstore==0.1.60
texttable==1.7.0
toolz==0.12.1
tqdm==4.66.4
typeguard==4.3.0
typing_extensions==4.12.1
